@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<ContactModel> localizer;
@inject IHtmlLocalizer<ContactModel> htmlLocalizer;

@model WebApi.Cors.Example.Client.Pages.ContactModel
@{
}


<style>
    .custom-form {
        max-width: 500px;
        margin: 0 auto;
        padding: 30px;
        background-color: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .form-label {
        font-weight: bold;
    }

    .form-control {
        border-color: #ced4da;
        border-radius: 5px;
    }

        .form-control:focus {
            border-color: #80bdff;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004a9b;
        }
</style>

<div class="container py-4">
    <form id="contactForm" class="custom-form">
        <div class="mb-3">
            <label class="form-label" asp-for="Name">@localizer.GetString("Name")</label>
            <input class="form-control" asp-for="Name" type="text" placeholder="@localizer.GetString("Name")" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Email">@localizer.GetString("EmailAddress")</label>
            <input class="form-control" asp-for="Email" type="email" placeholder="@localizer.GetString("EmailAddress")" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Message">@localizer.GetString("Message")</label>
            <textarea class="form-control" asp-for="Message" rows="3" placeholder="@localizer.GetString("Message")"></textarea>
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>

        <div class="d-grid">
            <button class="btn btn-primary btn-lg">@localizer.GetString("Submit")</button>
        </div>
    </form>
</div>


@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}